In [1]:
import pandas as pd
import numpy as np

In [2]:
path="D:/my own/automobile.csv"

In [3]:
df = pd.read_csv(path )

the Referring to our used car dataset, there’s a feature named “city-mpg” in the dataset,
which refers to a car fuel consumption in miles per gallon unit.
its column no. is 23 **".iloc[starting index : ending index , column no]"** this function is used to print a specific column data

In [12]:
df.iloc[:10, 23]

0    21
1    21
2    19
3    24
4    18
5    19
6    19
7    19
8    17
9    23
Name: city-mpg, dtype: int64

now there may be someone who lives in a country that uses metric units.
So you would want to convert those values to L/100km --the metric version.
To transform mpg to L/100km we need to divide 235 by each value in the city-mpg column.

In [13]:
df["city-mpg"]=235/df["city-mpg"]

In [17]:
df.rename(columns={"city-mpg" : "city-L/100km"}) #inplace=True )

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-L/100km,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,11.190476,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,11.190476,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,12.368421,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,9.791667,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,13.055556,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,10.217391,28,16845
197,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,12.368421,25,19045
198,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,13.055556,23,21485
199,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,9.038462,27,22470
200,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,12.368421,25,22625

To identify a features data type, in Python we can use the dataframe.dtypes() method and
check the datatype of each variable in a dataframe.
In the case of wrong datatypes, the method dataframe.astype() can be used to convert
a datatype from one format to another.

In [21]:
df["price"] = df["price"].astype(int)

In [22]:
df.dtypes["price"]

dtype('int64')